/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav {
  background-color: #329492;
}

footer {
  background-color: #329492;
}

.footer-copyright {
  background-color: #329492;
}

body {
  background-color: #156e8b;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.yield {
  margin-top: 20px;
}
