<template name='footer'>
  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">We are a Startup Columbus: Health Edition team creating a modern web applications to battle mental illness in millenials.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">SWC Team BetterTogether</div>
    </div>
  </footer>
</template>
