<template name='assessment'>
  <p>How are you feeling?</p>

  <div class="row">
    <div class="col s6 m4 l2">
      <a href="/profile"><img src="/Face_One-01.png" class="img-responsive" alt="Face One" /></a>
    </div>
    <div class="col s6 m4 l2">
      <a href="/profile"><img src="/Face_Two-01.png" class="img-responsive" alt="Face Two" /></a>
    </div>
    <div class="col s6 m4 l2">
      <a href="/profile"><img src="/Face_Three-01.png" class="img-responsive" alt="Face Three" /></a>
    </div>
    <div class="col s6 m4 l2">
      <a href="/profile"><img src="/Face_Four-01.png" class="img-responsive" alt="Face Four" /></a>
    </div>
    <div class="col s6 m4 l2">
      <a href="/profile"><img src="/Face_Five-01.png" class="img-responsive" alt="Face Five" /></a>
    </div>
    <div class="col s6 m4 l2">
      <a href="/profile"><img src="/Face_Six-01.png" class="img-responsive" alt="Face Six" /></a>
    </div>
  </div>

</template>
