<template name='chat'>
  <div class="c-chat-window">

    <div class="c-users c-chat-window__user-images">
      {{>profile_pic currentUser}}
      {{>profile_pic chatting_with}}
    </div>

    <div class="c-chat-window__scroll">
      <div class='row'>
        <div class='col s12'>
          {{#each messages}}
            {{> message}}
          {{/each}}
        </div>
      </div>

      <div class='row'>
        <div class='col s12'>
          {{> quickForm id='createMessage' type='method' meteormethod='createMessage' schema='MessageSchema' fields='message' buttonContent='Send' }}
        </div>
      </div>
    </div>

  </div>

</template>

<template name="profile_pic">
    <div class="c-user c-users__user">
      <span class="c-avatar c-user__title">
      <img class="c-avatar__asset" src="/photo_profile.png">
      </span>
      <div class="c-user__title">
        <h5 class="ultralight">{{username}}</h5>
      </div>
    </div>
</template>
