<template name="chat_selection">
  <h2 class="center">People Like You</h2>
  {{#with user}}
    {{> userCard}}
  {{/with}}
</template>

<template name="userCard">
  {{#HammerTouchArea gestureMap=templateGestures}}
    <div class="row center">
      <h4 class="center ultralight">This is {{username}}</h4>
      <img style='swipable' src="{{gifUrl}}" text="image of person">
    </div>
  {{/HammerTouchArea}}
  <div class="center row">
      <a href="#" class="swipe fa fa-check-circle fa-5x"></a>
      <a href="#" class="swipe fa fa-arrow-circle-right fa-5x"></a>
  </div>
</template>
