<template name="chat_selection">
  <h2 class="center">People Like You</h2>
  {{#with user}}
    {{> userCard}}
  {{/with}}
</template>

<template name="userCard">
  {{#HammerTouchArea gestureMap=templateGestures}}
    <div class="row center">
      <h4 class="center ultralight">This is {{username}}</h4>
      <img style='swipable' src="{{gifUrl}}" text="image of person">
    </div>
  {{/HammerTouchArea}}
  <div class="center row">
    <a href="/chat" class="chat swipe">
      <img src="/chat_button.png" text="chat">
    </a>
  </div>
</template>
