<template name='chat'>
  <div class='row center'>
    <div class="col s2">
      {{>profile_pic currentUser}}
    </div>
    <div class="col s8">
      <h2>Let's Chat!</h2>
    </div>
    <div class="col s2">
      {{>profile_pic chatting_with}}
    </div>
  </div>
  <div class='row'>
    <div class='col s12'>
      {{#each messages}}
        {{> message}}
      {{/each}}
    </div>
  </div>
  <div class='row'>
    <div class='col s12'>
      {{> quickForm id='createMessage' type='method' meteormethod='createMessage' schema='MessageSchema' fields='message' buttonContent='Send' }}
    </div>
  </div>
</template>

<template name="profile_pic">
  <div>
    <img src="/photo_profile.png">
    <br />
    <h5 class="ultralight chat-username">{{username}}</h5>
  </div>
</template>
