<template name='home'>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center"><span class="ultralight">better</span><span class="demibold">together</span></h1>
      <div class="row center">
        <h5 class="header col s12 light">Connect. Relate. Grow.</h5>
      </div>
      <div class="row center">
        <a href="/assessment" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>
    </div>
  </div>
</template>
