<template name="profile">
  <h2 class="ultralight center">Make your profile.</h2>
  <form class="profile-form center">
    <div class="input-field">
      <input id="name" type="text" />
      <label for="name">Your Name</label>
    </div>
    <div class="input-field">
      <input id="story" type="text" />
      <label for="story">Your Story</label>
    </div>
    <input type="submit" href="/chat_selection" class="btn-large" value="Find someone to talk to"/>
  </form>
</template>

<template name="you">
  <p>Your information:</p>
  <p>You: {{currentUser.profile.name}}</p>
  <p>Your story: {{currentUser.profile.story}}</p>
</template>
