<template name="tinder">
  <p>Find someone to talk to:</p>
  {{>tinderCard randomUser}}
</template>

<template name="tinderCard">
  <div class="row center">
    <div class="row center">
      <p class="description">My name is {{username}}</p>
      <p class="description">"I'm feeling a little better."</p>
    </div>
    <img src="http://thecatapi.com/api/images/get?format=src&type=gif" text="image of person">
  </div>
  <div class="row">
    <a class="swipe col-md-4 fa fa-arrow-left"></a>
    <p class="col-md-4">swipe left or right</p>
    <a class="swipe col-md-4 fa fa-arrow-right"></a>
  </div>
</template>
